.excontainer {
    padding: 2rem 9%;
}

.excontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2rem;
    text-align: center;
}

.Countercontent {
    flex: auto;
}

.counterbox {
    font-size: 40px;
    color: tomato;
    background: #fff;
    border-radius: 0.9 rem;
    border: 0.1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Countercontent p {
    text-align: center;
    color: rgb(187, 64, 224);
    font-size: 1.4rem;
}

.btns {
    margin-top: 30px;
    margin-left: 5px;
}

.btnsubtract {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: 0.1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnadd {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: 0.1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnset {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: 0.1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    margin-left: 2px;
    padding-top: 1px;
    padding-left: 38px;
    padding-right: 35px;
}

.btnset:hover {
    background-color: #16a085;
    color: white;
}

.btnsubtract:hover {
    background-color: #a01628;
    color: white;
}

.btnadd:hover {
    background-color: #16a085;
    color: white;
}

.chartext h2 {
    color: crimson;
    padding: 20px;
    background-color: crimson;
}

.viewgrph {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    font-size: .875rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    position: inherit;
    margin-left: -860px;
}

.viewgrph:hover {
    transform: translateY(2%);
    cursor: pointer;
}