.services {
    padding: 2rem 9%;
}

.services .box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    text-align: center;
}

.services .box-container .box {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
    padding: 1.2rem;
}

.services .box-container .b1 {
    background: #9dedf9;
}

.services .box-container .box:hover {
    box-shadow: 0 4px 8px 0 rgba(5, 241, 190, 0.2);
    transform: translateY(2%);
}

.services .box-container .box h3 {
    color: rgb(7, 0, 0);
    font-size: 2rem;
    padding: 0.1rem 0;
}

.services .box-container .box p {
    color: rgb(116, 111, 111);
    font-size: 1rem;
    line-height: 2;
}

.services .box-container .box a {
    color: #050808;
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
}


/* Sleep Data */

.sleephm {
    padding: 0 9%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sleephm .image {
    flex: auto;
}

.sleephm .image img {
    width: 100%;
}

.sleephm .Countercontent {
    flex: auto;
}

.counterbox {
    font-size: 50px;
    color: tomato;
    background: #fff;
    border-radius: 0.9 rem;
    border: 0.1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    text-align: center;
    font-weight: bold;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
}

.Countercontent p {
    text-align: center;
    color: turquoise;
    font-size: 2rem;
    margin: 20px;
}

.btns {
    margin-top: 30px;
    margin-left: 280px;
}

.btnsubtract {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: .1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnadd {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: .1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnset {
    font-size: 2rem;
    background-color: rgb(250, 245, 245);
    border: .1rem solid #16a085;
    box-shadow: 0.5rem 0.5rem 0 rgb(22 160 133 / 20%);
    border-radius: 0.5 rem;
    cursor: pointer;
    margin-left: 2px;
    padding-top: 1px;
    padding-left: 38px;
    padding-right: 35px;
}

.btnset:hover {
    background-color: #16a085;
    color: white;
}

.btnsubtract:hover {
    background-color: #a01628;
    color: white;
}

.btnadd:hover {
    background-color: #16a085;
    color: white;
}

#chart-container {
    margin-top: 100px;
    width: 70%;
    height: 70%;
    padding: 0 9%;
    margin-left: 150px;
}

#mycanvas {
    background-color: rgb(251, 253, 255);
    border-style: solid;
    border-color: crimson;
    border-radius: 25px;
}