@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Antique Soft', serif;
    color: #303433;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-image: linear-gradient(to right top, #16a08a, #00a986, #00b27f, #03bb76, #27c369, #39cb76, #48d383, #56db90, #6fe3b4, #92ead1, #bbefe6, #e5f3f2); */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side img {
    width: 90%;
    max-width: 100%;
}

.loginctrl {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #16a085;
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frm {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
.lbtn {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

input:hover {
    border: solid;
}

input~i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus~i {
    color: #16a085;
}

.lbtn {
    color: #0c0101;
    background-color: #fcfcfc;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
    border: solid;
}

.lbtn:hover {
    opacity: 0.9;
    background-color: #16a085;
    color: white;
}

.btsn {
    background-color: white;
    font-size: 22px;
    border: none;
}

.btsn:hover {
    font-size: 22px;
    color: #16a085;
    cursor: pointer;
}

.login-box {
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Signup */

.modal-content {
    padding: 3%;
}

.register-right {
    margin-left: 60px;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #050607;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnRegister:hover {
    background-color: #16a085;
}

.register-heading {
    text-align: center;
    color: #495057;
}