@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Stylish&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
}

.header {
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    background: #fff;
}

body {
    color: #777;
}

html {
    font-size: 62.5%;
}

section {
    padding: 2rem 9%;
}

.header .logo {
    font-size: 3.5rem;
    color: #444;
}

.header .logo i {
    color: #16a085;
}

.header .logo2 button {
    float: right;
    background-color: white;
}

.header .logo2 i {
    color: #5b6361;
    font-size: 3.5rem;
}

.header .logo2 i:hover {
    cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
    height: 100%;
    background-color: #fafafa;
}

.home .img {
    flex: 1 1 30rem;
    width: 100%;
}

.home .elements {
    flex: 1 1 45rem;
    margin: 70px;
}

.home .elements h3 {
    font-family: "Zen Antique Soft", serif;
    font-size: 5rem;
    color: black;
    line-height: 2;
    text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.home .elements p {
    font-family: "Zen Antique Soft", serif;
    font-size: 2rem;
    color: #777;
    line-height: 2;
    padding: 1rem 0;
}

.loginbtn {
    margin-top: 1rem;
    padding: 0.7rem;
    padding-left: 1rem;
    border: 0.2rem solid #16a085;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    color: #16a085;
    cursor: pointer;
    font-size: 2.7rem;
}

.loginbtn span {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background: #16a085;
    color: #fff;
    margin-left: 0;
}

.loginbtn:hover {
    background: #16a085;
    color: #fff;
}

.loginbtn:hover span {
    color: #16a085;
    background: #fff;
    margin-left: 1rem;
}

.servicecontainer {
    padding: 5rem 9%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    text-align: center;
}

.services {
    border-radius: 2rem;
    padding: 1.2rem;
}

.servicecontainer i {
    font-size: 10rem;
    border-radius: 50px;
    color: #16a085;
}

.servicecontainer h1 {
    color: black;
}

.servicecontainer p {
    font-size: 2rem;
    font-family: "Stylish", sans-serif;
}

.covidinfocontainer {
    background-color: rgb(65, 58, 68);
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.coimg img {
    width: 500px;
    width: 500px;
}

.coninfo p {
    margin-top: 120px;
    font-size: 6rem;
    font-family: "Stylish", sans-serif;
    color: rgb(248, 241, 241);
    margin-bottom: 50px;
    text-shadow: 2px 1px rgb(2, 2, 2);
}

.coninfo h2 {
    font-size: 2rem;
    font-size: 2.5rem;
    font-family: "Stylish", sans-serif;
    color: rgb(255, 251, 251);
}

.content {
    padding-top: 50px;
    background-color: #fafafa;
    padding: 10rem 9%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.content i {
    font-size: 10rem;
    border-radius: 50px;
    color: #16a085;
}

.content .counter {
    font-size: 5rem;
    color: black;
    font-family: "Stylish", sans-serif;
}

.content .text {
    font-size: 3rem;
    font-family: "Stylish", sans-serif;
    color: black;
}

.update {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.update p {
    text-align: center;
    font-family: "Stylish", sans-serif;
    color: black;
    padding-top: 10rem;
    line-height: 1.2;
    font-size: 54px;
    font-weight: 700;
}

.update h1 {
    text-align: center;
    font-family: "Stylish", sans-serif;
    line-height: 1.2;
    font-size: 34px;
    font-weight: 200;
    padding-bottom: 10rem;
}

.contactinfo {
    padding: 10rem 9%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.contact {
    padding: 0px 100px;
}

.map {
    padding: 0px 100px;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0%;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background: url(../Images/contact.jpg);
}

.contact-in:nth-child(2) {
    flex: 45%;
    background: #c31432;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Zen Antique Soft", serif;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: white;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #fffdfd;
    color: rgb(7, 0, 0);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgb(248, 247, 247);
    border-radius: 50px;
}

.contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: rgb(12, 8, 8);
}

.ftr {
    width: 100%;
    padding: 1% 0%;
    background-color: #0b131e;
}

.ftr p {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Zen Antique Soft", serif;
}